.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(67, 80, 199);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

.display {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
}

button.clear {
  background-color: #e74c3c;
  color: #fff;
}

button.backspace {
  background-color: #f1c40f;
  color: #fff;
}

button.equal {
  background-color: #2ecc71;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: inset 0 0 5px #ccc;
}